<div class="welcome-text">Welcome to Chat Room</div>

<div class="chat-container">
  <div class="chat-box">
    <div *ngFor="let msg of messages; let i = index" 
         [ngClass]="{'my-message-container': msg.name === name, 'other-message-container': msg.name !== name}">
      <div *ngIf="i === 0 || messages[i-1].name !== msg.name" class="user-name">
        {{ msg.name }}
      </div>
      <div class="message-bubble">
        {{ msg.message }}
      </div>
    </div>

    <div class="message-input">
      <input [(ngModel)]="message" placeholder="Type a message" (keyup.enter)="sendMessage()" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  <br>
  <button (click)="onLogout()" class="logout">Logout</button>
</div>


